---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";
import Markdown from "../../components/markdown.astro";

import type { CollectionEntry } from "astro:content";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection(
    "blog",
    ({ data: { draft } }) => import.meta.env.DEV === true || !draft,
  );

  return blogEntries.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}) satisfies GetStaticPaths;

type Props = {
  blog: CollectionEntry<"blog">;
};

const {
  blog: {
    render,
    data: { title, date, cover, height = 1200, width = 800 },
  },
} = Astro.props;

const { Content } = await render();
---

<Layout title="blog" description="">
  <header class="pb-2 font-medium text-3xl md:text-4xl">
    <h1 class="pb-4">
      {title}
    </h1>

    <p class="text-sm">{date}</p>

    {
      cover !== undefined && (
        <Image
          src={cover}
          alt={title}
          height={height}
          width={width}
          fetchpriority="high"
          class="my-2 rounded-sm"
        />
      )
    }
  </header>

  <hr class="pb-5" />

  <Markdown>
    <Content />
  </Markdown>
</Layout>
